.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.card-wrapper {
    width: 400px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    padding-top:80px;
}

mat-form-field{
    width: 350px;
}


.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
.mat-row:hover .mat-cell {
    border-color: currentColor;
}

table{
    min-width: 650px;
}

mat-icon.avatar{
    font-size: 40px;
}

h1{  
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
    padding: 0 10px;
}

.sec-sub {
    margin-top:-10px;
}

.info-button{
    right: 10px;
    top: 10px;
    position: absolute;
}


.spinner-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);

    mat-progress-spinner{
        position: fixed;
        left: 48vw;
        top: 45vh;
    }
}
.hide-overlay{
    display: none;
}
